		<div>
			<h2>Register to WTSWTB</h2>
			<form method="post">
				<div>
					<FontAwesomeIcon icon="fa-sharp fa-solid fa-envelope" />
					<div>
						<label>Email</label>
						<input type="email" name="">
					</div>
				</div>
				<div>
					<FontAwesomeIcon icon="fa-sharp fa-solid fa-lock" />
					<div>
						<label>Password</label>
						<input type="password" name="">
					</div>
					<FontAwesomeIcon icon="fa-solid fa-eye" />
				</div>
				<div>
					<FontAwesomeIcon icon="fa-sharp fa-solid fa-lock" />
					<div>
						<label>Confirm password</label>
						<input type="password" name="">
					</div>
					<FontAwesomeIcon icon="fa-solid fa-eye" />
				</div>
				<button type="submit">Register</button>
			</form>
		</div>